@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto-font);
}

*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --roboto-font: "Roboto", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --phosphor-thin-font: "Phosphor-Thin" !important;
  --phosphor-light-font: "Phosphor-Light" !important;
  --phosphor-normal-font: "Phosphor" !important;
  --phosphor-bold-font: "Phosphor-Bold" !important;
  --phosphor-fill-font: "Phosphor-Fill" !important;
  --phosphor-duotone-font: "Phosphor-Duotone" !important;
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
  --primary: #6e32a0;
  --primary-bg: #46196e;
  --secondary: #e57301;
  --white: #ffffff;
  --black: #121212;
}

p,
.nav-link {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: var(--weight-semibold);
  font-family: var(--poppins-font);
}

figure {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section {
  padding: 60px 0;
}

.btn {
  border: none;
  color: var(--white);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: var(--weight-medium);
  background-color: var(--primary);
}

.btn:hover {
  background-color: var(--primary-bg);
  color: var(--white);
}

.card {
  border: none;
  overflow: hidden;
  border-radius: 12px;
}

.card-body {
  padding: 25px;
  display: flex;
  grid-gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}

.card-img {
  border-radius: 0;
}

.card-text {
  color: var(--bs-gray-800);
}

.card-title {
  line-height: 1.3;
  font-weight: var(--weight-semibold);
}

.card .btn {
  margin-top: 15px;
}

.heading {
  color: var(--primary);
  font-size: clamp(20px, 2vw, 30px);
}

/* header */
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  justify-content: unset;
}

.nav-link {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  padding: 0px;
  padding-inline: 12px !important;
  font-size: 14px;
  color: var(--black);
  font-weight: var(--weight-medium);
}

.navbar-brand img {
  max-height: 40px;
}

.navbar .dropdown-menu {
  margin-top: 20px;
  border-radius: 0;
  border: none;
  padding: 10px 0;
  background: var(--white);
  border-radius: 0 0 3px 3px;
}

.dropdown-item {
  margin-bottom: 6px;
  font-size: 14px;
  padding-inline: 20px;
}

.dropdown-toggle::after {
  content: '\E136';
  border: none !important;
  margin: 0;
  font-family: var(--phosphor-bold-font);
}

.specialNav .nav-link i {
  font-size: 18px;
}

.btn-easy-pay,
.btn-my-account {
  padding: 10px;
  color: var(--white);
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-easy-pay {
  background-color: #A55D02;
}

.btn-easy-pay:hover {
  color: var(--white);
  background-color: #8E4A00;
}

.btn-my-account {
  background-color: #9C27B0;
}

.btn-my-account:hover {
  color: var(--white);
  background-color: #7B1FA2;
}

.navbar-toggler {
  margin-left: auto;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
  background: var(--primary);
  border: none;
  color: var(--white);
}

.offcanvas-body {
  padding: 0;
  overflow: unset;
  justify-content: space-between;
}

.offcanvas-header {
  background-color: var(--bs-gray-100);
  border-bottom: 1px solid var(--bs-gray-200);
}

.menu_offcanvas {
  flex: 1;
}

.search_dropdown {
  padding: 15px !important;
  width: 400px;
}

.search_dropdown input:focus {
  border: 1px solid var(--primary) !important;
}

/* hero */
.hero {
  padding-top: 0;
  background-color: var(--primary-bg);
}

.hero_top_row {
  background-color: var(--primary);
}

.hero_card .card-img {
  height: 400px;
}

.hero_card .card-title {
  max-width: 400px;
  font-size: clamp(22px, 3vw, 28px);
}

.hero_card .card-text {
  font-size: clamp(16px, 2vw, 18px);
}

.card_badge {
  font-size: 14px;
  color: var(--bs-gray-800);
  font-weight: var(--weight-semibold);
}

.card_link {
  font-size: 12px;
  margin-top: 10px;
  color: var(--bs-gray-800);
  font-weight: var(--weight-medium);
}

.hero_small_card {
  flex: 1;
  padding: 25px;
}

.hero_small_card .card-body {
  padding: 0;
}

.hero_small_card .card-img img {
  object-fit: contain;
}

/* Product_card section */
.deal_section {
  background-color: #f5f5f5;
}

.product_slider {
  padding: 25px 0;
}

.swiper-slide:has(.product_card) {
  height: unset;
  max-width: 350px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 25px 1.5px #0002;
}

.product_card {
  height: 100%;
  transition: 0.2s ease-in-out;
}

.product_card .card-body {
  flex: 1;
}

.product_card .btn {
  margin-top: auto;
}

.swiper-slide:where(:hover, .swiper-slide-active) .product_card {
  color: var(--white);
  background-color: var(--primary-bg);
}

.product_card :where(.card-text, .card_badge, .card_link) {
  transition: 0.2s ease-in-out;
}

.swiper-slide:has(.product_card):where(:hover, .swiper-slide-active) :where(.card-text, .card_badge, .card_link) {
  color: var(--white);
}

.deal_navigation {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.deal_navigation :where(.swiper-button-prev, .swiper-button-next) {
  margin: 0;
  width: 45px;
  inset: unset;
  height: 45px;
  position: relative;
  border-radius: 50px;
  background-color: var(--white);
}

.deal_navigation :where(.swiper-button-prev, .swiper-button-next):after {
  font-size: 18px;
  color: var(--black);
  font-weight: var(--weight-bold);
  font-family: var(--phosphor-bold-font);
}

.deal_navigation :where(.swiper-button-prev):after {
  content: '\E058';
}

.deal_navigation :where(.swiper-button-next):after {
  content: '\E06C';
}

/* benifits */
.benefits {
  background-color: var(--primary-bg);
}

.benifit_card {
  padding: 50px 30px;
  border-radius: 20px;
}

.benifit_card .card-title {
  font-size: clamp(26px, 2vw, 28px);
}

.benifit_product_slider .swiper-slide:where(:hover, .swiper-slide-active) .product_card {
  background-color: var(--white);
  color: var(--black);
}

.benifit_product_slider .swiper-slide:has(.product_card):where(:hover, .swiper-slide-active) :where(.card-text, .card_badge, .card_link) {
  color: var(--black);
}

/* more_love_heading */
.more_love_heading {
  color: var(--primary);
}

/* promo section */
.promo-section {
  text-align: center;
  background-color: var(--primary-bg);
}

.promo_logo {
  width: 150px;
}

.promo-text {
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  align-items: flex-start;
}

.promo-text h2 {
  color: var(--white);
  font-size: clamp(28px, 3vw, 38px);
  font-weight: var(--weight-semibold);
}

.promo-text p {
  color: var(--white);
  font-size: clamp(14px, 2vw, 16px);
}

.promo-img {
  height: 400px;
}

.promo-img img {

  object-fit: contain;
}

.promo_btn {
  margin-top: 15px;
}

.promo_link {
  color: var(--white);
}

.gateway-text {
  color: var(--bs-gray-200);
  font-size: clamp(14px, 2vw, 16px);
}

/* footer */
.social_icon {
  height: 20px;
  aspect-ratio: 1;
}

.social_icon img {
  object-fit: contain;
}

/* footer */
footer {
  padding: 40px 0 0;
  background-color: #24022f;
}

.footer_heading {
  color: var(--white);
  font-size: 16px;
  font-weight: var(--weight-semibold);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  grid-gap: 12px;
}

.footer-list a {
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
}

.footer-link {
  font-size: 12px;
  color: var(--white);
}

/* about */
.about {
  background-color: var(--primary-bg);
}

.about_logo {
  height: 50px;
}

.about_logo img {
  object-fit: contain;
}

.about-section {
  padding: 0 30px;
  background-color: var(--primary);
}

.about-section-list {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  list-style: none;
  grid-gap: 30px;
}

.about-section-list img {
  height: 50px;
  width: 100%;
  object-fit: contain;
}

.about-section-list p {
  color: var(--white);
  margin-top: 6px;
}

.about_plans {
  background-size: cover;
  background-position: center;
  background-image: url("../images/about/about_bg.webp");
}

.abotu_offers {
  background-color: var(--primary);
}

.icon-box {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px #0002;
  background-color: var(--white);
  transition: all 0.3s ease;
}

.icon-box i {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.icon-box p {
  font-weight: bold;
  color: black;
  margin-top: 5px;
}

.icon-box:hover {
  background-color: var(--bs-gray-100);
}

/* page 3 */
.page-3-hero {
  background-color: var(--primary-bg);
}

.page-3-content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
}

.page-3-content h1 {
  margin-top: 10px;
  font-size: clamp(28px, 4vw, 48px);
}

.page-3-content img {
  height: 124px;
  width: 100%;
  object-fit: contain;
}

.page-3-content small {
  font-size: 12px;
  color: var(--white);
  text-align: center;
}

.page-3-sub-heading {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.page-3-content-buttons {
  margin-top: 50px;
  margin-bottom: 10px;
}

.page-3-content-buttons .btn {
  background-color: var(--white);
  color: black;
}

.page-3-content-buttons .btn:nth-child(2) {
  background-color: transparent;
  color: var(--white);
  box-shadow: inset 0 0 0 2px white;
}

.video-section {
  background-color: #9646c3;
}

.video-section iframe {
  width: 100%;
  aspect-ratio: 2/1;
}

.video-card {
  height: 100%;
  padding: 40px;
}

.video-card img {
  width: 50px;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-bottom: 20px;
}

.video-card .count {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  background: var(--primary);
  border-radius: 50%;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
}

.video-card .card-title {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 700;
  color: var(--black);
}

/* package */
.package-heading {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--primary);
  font-size: clamp(28px, 4vw, 40px);
}

.package-desc {
  font-size: clamp(12px, 2vw, 14px);
}

.pkg-card {
  background: #eee;
  border-radius: 3px;
}

.pkg-card .card-header {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 20px;
}

.pkg-header {
  border-bottom: 1px solid #ffffff6b;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.pkg-header img {
  height: 24px;
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.pkg-header span {
  font-size: 35px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: capitalize;
  color: #d77311;
  font-style: italic;
}

.pkg-price {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  width: 100%;
  align-self: center;
  justify-content: center;
}

.pkg-price h4 {
  color: var(--white);
  font-size: clamp(24px, 3vw, 28px);
}

.pkg-price hgroup {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.pkg-price hgroup span {
  font-weight: 600;
}

.pkg-price hgroup small {
  font-size: 12px;
  font-weight: 400;
}

.pkg-card .card-body>h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.pkg-card .card-body>img {
  height: auto;
  width: 100%;
}

.pkg-features {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
}

.pkg-feature-list {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  font-size: 15px;
}

.pkg-features a {
  font-size: 15px;
  color: var(--black);
  font-weight: 500;
}

.pkg-products h5 {
  font-size: clamp(12px, 2vw, 14px);
  margin-bottom: 20px;
}

.pkg-products-list {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.pkg-product {
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.pkg-product figure {
  width: 130px;
  aspect-ratio: 1;
  padding: 4px;
  flex: 0 0 auto;
}

.pkg-product-content {
  display: flex;
  flex-direction: column;
  grid-gap: 0px;
  padding: 20px;
  padding-left: 0;
  align-items: flex-start;
}

.pkg-product-title {
  font-size: clamp(16px, 2vw, 18px) !important;
  color: var(--black);
  text-decoration: none;
  margin-bottom: 6px !important;
}

.pkg-product-content span {
  font-size: 14px;
  color: #919191;
  margin-bottom: 20px;
}

.pkg-product-content button {
  padding: 0;
  background: transparent;
  border: none;
  width: unset;
  display: inline-flex;
  font-size: 14px;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
  line-height: 1.2;
  font-weight: 500;
}

.view-all-deals {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--black);
  font-weight: 500;
}

/* benifit 2 */
.benifit-card-2 {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #0002;
  padding: 30px 15px;
  height: 100%;
}

.page-3-slider {
  padding: 20px;
  text-align: center;
}

.benifit-card-2 img {
  height: 64px;
  object-fit: contain;
  aspect-ratio: 1;
}

.benifit-card-2 h4 {
  font-weight: 600;
  color: var(--black);
  font-size: clamp(16px, 2vw, 18px);
}

.page-3-slider .swiper-slide {
  max-width: 180px;
  height: unset;
}

.arrows {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px #0001;
  background-color: var(--secondary);
}

.arrows:after {
  color: var(--black);
  font-family: 'Phosphor-bold';
  font-size: clamp(16px, 2vw, 18px);
}

.swiper-button-prev.arrows:after {
  content: '\E058';
}

.swiper-button-next.arrows:after {
  content: '\E06C';
}

.products-section {
  background-color: var(--primary);
}

/* best-deal */
.best-deal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../images/benifits/banner_2.webp');
}


.benifit_banner_card {
  background-color: var(--primary-bg);
}

.benifit_banner_card .btn {
  color: var(--black);
  background-color: var(--white);
}

/* yada-banner */
.yada-banner {
  background-color: var(--primary-bg);
}

.yada-banner-img {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.yada-banner-img img {
  object-fit: contain;
  object-position: left;
}

.yada-banner-title {
  color: var(--white);
  margin-bottom: 40px;
}

.yada-banner-main-img {
  height: 400px;
}

.yada-banner-main-img img {
  object-fit: contain;
}

.accordion-item {
  border: none !important;
}

.accordion-button {
  font-size: 14px;
  font-weight: 600;
  grid-gap: 20px;
  border-radius: 0 !important;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc !important;
}

.accordion-button:focus {
  border-bottom: 1px solid #ccc !important;
}

.accordion-body {
  padding: 15px 0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.benifits_page img {
  height: 38px;
}

.benifits_page .page-3-sub-heading {
  margin-bottom: 30px;
  font-size: clamp(28px, 3vw, 30px);
}

.category-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  padding: 10px;
}

.category-link i {
  font-size: 24px;
  margin-right: 10px;
}

.category-link span {
  font-weight: 500;
  font-size: 16px;
}

.benifit_banner_card_2 {
  background-color: var(--primary);
}

.benifit_banner_card_2 .btn {
  background-color: var(--white);
  color: var(--black);
}

/* download-banner */
.download-banner {
  background-color: var(--primary);
}

.download-banner-logo {
  height: 100px;
  margin-inline: auto;
  margin-bottom: 20px;
}

.download-banner-logo img {
  object-fit: contain;
}

.store-button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 150px;
  background: transparent;
  border: none;
}

.store-button img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-dark {
  background-color: var(--primary-bg) !important;
}

/* login */
.metro-flex-login .form-label {
  font-size: 14px;
  text-transform: capitalize;
}

.form-control {
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 14px;
}

.form-control:focus {
  border: 1px solid var(--primary) !important;
}

.forgot-account {
  color: var(--primary-bg);
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}

.metro-flex-login {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login p {
  font-size: 16px;
  margin-bottom: 10px;
}

.login ul li {
  margin-bottom: 5px;
}

.login small {
  font-size: 14px;
}

.login small a {
  color: var(--primary);
}

.autopay {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  background: var(--primary-bg);
}

.autopay-heading {
  color: var(--white);
  font-weight: 500;
  font-size: clamp(20px, 2vw, 22px);
}

.autopay-text {
  font-size: 14px;
  color: var(--bs-gray-400);
}

.autopay a {
  color: var(--secondary);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

br{
  width: 100%;
  border-block: 2px solid var(--bs-gray-600);
}

/* responsive */
@media (max-width: 1200px) {
  .menu_offcanvas {
    max-width: 320px;
    width: 100%;
  }

  .nav-link {
    padding: 10px 20px !important;
    justify-content: space-between;
    font-size: 22px;
    font-weight: var(--weight-medium);
  }

  .nav-link:after {
    font-size: 14px;
  }

  .navbar-nav {
    width: 100%;
  }

  .specialNav {
    padding-block: 15px;
    border-block: 1px solid var(--bs-gray-200);
    background-color: var(--bs-gray-100);
  }

  .specialNav .nav-link {
    font-size: 16px;
    justify-content: flex-start;
  }

  .specialNav .nav-link:after {
    margin-left: auto;
  }

  .btn-easy-pay,
  .btn-my-account {
    flex: 1;
  }

  .navbar .dropdown-menu {
    margin-top: 0;
    padding: 0 10px;
  }

  .navbar .dropdown-menu .dropdown-item {
    color: var(--black);
    font-weight: var(--weight-medium);
  }

  .offcanvas-body {
    overflow: auto;
  }
}

@media (max-width: 992px) {
  .hero_small_card {
    flex: 0 0 auto;
  }

  .hero_small_card .card-img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .about-section-list {
    padding: 0;
  }

  .benifit_card {
    padding: 20px;
  }

  .benifit_card .card-body {
    padding: 0;
  }

  .hero_card .card-img {
    height: 300px;
  }
}